{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Shop</h1>
				</div>
			</div>
			<div class="col-lg-7">

			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->



<section class="my-5">
	<div class="container my-5 py-5">
		<!-- row -->
		<div class="row">
			<!-- col -->
			<div class="col-lg-12">
				<!-- page header -->
				<!-- <div class="card mb-4 bg-light border-0"> -->
				<!-- card body -->
				<!-- <div class="card-body p-9"> -->
				<!-- title -->
				<!-- <h2 class="mb-0 fs-1">Snacks &amp; Munchies</h2> -->
				<!-- </div> -->
				<!-- </div> -->
				<!-- list icon -->
				<div class="d-lg-flex justify-content-between align-items-center">
					<div>
						<p class="mb-3 mb-md-0"> <span class="text-dark">{{products|length}} </span>
							{{ products|pluralize:"Product,Products"}} found </p>
					</div>
					<!-- icon -->
					<div class="d-md-flex justify-content-between align-items-center">
						<div>
							<a href="shop-list.html" class="text-muted me-3"><i class="bi bi-list-ul"></i></a>
							<a href="shop-grid.html" class=" me-3 active"><i class="bi bi-grid"></i></a>
							<a href="shop-grid-3-column.html" class="me-3 text-muted"><i
									class="bi bi-grid-3x3-gap"></i></a>
						</div>
						<div class="d-flex mt-2 mt-lg-0">
							{% comment %} <div class="me-2 flex-grow-1">
								<!-- select option -->
								<select class="form-select">
									<option selected="">Show: 50</option>
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="30">30</option>
								</select>
							</div> {% endcomment %}
							<div>
							<form id="sort-form" action="{% url "store" %}" method="get">
								<!-- select option -->
								<select name="sort" id="sort-select" class="form-select">
									<option {% if request.GET.sort == 'featured' %}selected{% endif %} value="featured">Sort by: Featured</option>
									{% comment %} <option {% if request.GET.sort == 'price_lh' %}selected{% endif %} value="price_lh">Price: Low to High</option>
									<option {% if request.GET.sort == 'price_hl' %}selected{% endif %} value="price_hl"> Price: High to Low</option> {% endcomment %}
									<option {% if request.GET.sort == 'created_at' %}selected{% endif %} value="created_at"> Release Date</option>
								</select>
							</form>
							</div>
						</div>

					</div>
				</div>
				<div class="row g-4 row-cols-lg-3 row-cols-2 row-cols-md-3 mt-2 my-5">
					{% for product in products %}
					<!-- col -->
					<div class="col">
						<!-- card product -->
						<div class="card card-product">
							<div class="card-body p-4">

								<!-- badge -->
								<div class="text-center position-relative ">
									{% comment %} {% if product.variation_set.filter(sale__gt=0).exists %}
									<div class=" position-absolute top-0 start-0">
										<span class="badge bg-danger">Sale</span>
									</div>
									{% endif %} {% endcomment %}
									<a href="{% url "singleProduct" product.slug %}">
										<!-- img --><img src="{% if product.image %}{{product.image.url}} {% else %} {% static "frontend/images/product-2.png" %}{% endif %}"
											alt="" class="mb-3 img-fluid"></a>
								</div>
								<!-- heading -->
								<div class="text-small mb-1"><a href="#!"
										class="text-decoration-none text-muted"><small>{{product.category}}</small></a>
								</div>
								<h2 class="fs-4"><a href="{% url "singleProduct" product.slug %}"
										class="text-inherit text-decoration-none">{{product.name}}</a></h2>
								{% comment %} <div>

									<!-- rating --><small class="text-warning"> <i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-half"></i></small> <span
										class="text-muted small">4.5(149)</span>
								</div> {% endcomment %}
								<!-- price -->
								<div id="shop_item_price" class="d-flex flex-column mt-3">
									{% for variation in product.variation_set.all %}
									<div class="d-flex justify-content-between">
										<div class="d-flex flex-column">
											{% if variation.sale %}
											<span class="text-dark fs-4">${{variation.sale}}</span>
											{% endif %}
											<span
												class="{% if variation.sale %}text-decoration-line-through text-muted {% else %} fs-3 {% endif %}">${{variation.price}}</span>
											<p class="fs-6 fw-bold">Size: {{variation.size}}</p>
										</div>
										<!-- btn -->
										<div>
											<a href="#!" class="btn btn-primary btn-sm"> <i
													data-feather="shopping-cart"></i></a>
										</div>
									</div>
									{% if not forloop.last %}
									<hr class="my-6">
									{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pagenation-section">
<div class="container ">
	<!-- row -->
	<div class="row mt-5">
		<div class="col">
			<!-- Bootstrap Pagination -->
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">
					{% if products.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page=1">First</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
					</li>
					{% endif %}

					{% for page_num in products.paginator.page_range %}
					<li class="page-item {% if page_num == products.number %}active{% endif %}">
						<a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
					</li>
					{% endfor %}

					{% if products.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="?page={{ products.paginator.num_pages }}">Last</a>
					</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>
</div>
</section>
{% endblock content %}

{% block js %}
<script>
    document.getElementById('sort-select').addEventListener('change', function() {
        document.getElementById('sort-form').submit();
    });
</script>

{% endblock js %}